{% extends 'default.view.admin_base' %}


{% block body %}

    <div class="form-build-container">
        <h3>{{ page_title }}</h3>
        <div>
            {{ embedded|raw }}
        </div>
    </div>

{% endblock %}