{% extends 'default.view.admin_base' %}

{% block body %}

    <div class="login-header">{{ t("Login to Your Account") }}</div>
    {{ __form_base|raw }}
    <!-- Forgot Password Link -->
    <a href="/user/forgot-password" class="forgot-password">Forgot your password?</a>

    <div class="mt-lg-5" style="margin-top: 50px;gap: 30px;display: flex;align-items: flex-start;direction: ltr;">
        {% if auth.isGoogleAuthActive %}
            <!-- Google Login Button -->
            <a href="{{ google_link }}" type="button" class="btn btn-social btn-google">
                <i class="fab fa-google"></i>
                Sign in with Google
            </a>
        {% endif %}

        {% if auth.isGithubAuthActive %}
            <!-- GitHub Login Button -->
            <a href="{{ github_link }}" type="button" class="btn btn-social btn-github">
                <i class="fab fa-github"></i>
                Sign in with GitHub
            </a>
        {% endif %}
    </div>


{% endblock %}
